.component-container {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #ffffff;
	padding: 25px;
	margin-bottom: 20px;
	height: 89vh;
	width: 73.5vw;
	align-self: center;
}

.profile-component-heading {
	font-size: 24px;
	margin-top: 1.2%;
	display: inline-flex;
	align-items: center;
	margin-bottom: 1px;
	background: #009879;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	width: 99%;
}

.profile-photo-container {
	width: 200px; /* Set the width and height of the container */
	height: 200px;
	border: 5px solid #009879; /* Add a border color (adjust as needed) */
	border-radius: 50%; /* Make the container circular */
	display: flex;
	justify-content: center;
	border-left-color: #aefdfe;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 10%;
	transition: transform 0.3s;
}

.top-section {
	display: flex;
	height: 65vh;
	flex-direction: row;
	margin-left: 20px;
}

.close-shop {
	font-size: 35px;
	margin-top: 1.2%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 33%;
	margin-bottom: 1px;
	background: #fa5a5a;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	width: 50%;
	height: 10vh;
	box-shadow: 2px 2px 6px #888888;
}

.close-shop:hover {
	background-color: #ff0000;
	box-shadow: none;
}
.profile-section {
	display: flex;
	flex: 5;
	/* margin-left: 20px; */
	flex-direction: column;
	/* border-bottom: 1px solid #ccc; */
	padding: 20px;
	border-radius: 5px;
	align-items: center;
	background-color: #aefdfe;
	box-shadow: 2px 2px 6px #888888;
	margin: 21px 0px 21px 0px;
}
.profile-section:hover {
	background-color: #73faeacb;
}

.profile-photo {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	/* margin-right: 20px;
	margin-bottom: 5%;
	transition: transform 0.3s; */
}

p {
	display: flex;
	justify-content: center;
}

.mail-icon {
	/* padding-top: auto; */
	/* padding-bottom: 0; */
	padding-right: 10px;
}
.profileData-username {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: "Roboto", sans-serif;
	padding-top: 5px;
}

.profileData-email {
	font-size: 20px;
	/* margin: 2px; */
	padding: 20px;
	margin-top: 30px;
	border: 3px solid #009879;
	border-radius: 10px;
}

.profileData-shopName {
	padding: 20px;
	margin-top: 40px;
	font-size: 25px;
	border: 3px solid #009879;
	border-radius: 10px;
	/* #009879; */
	/* box-shadow: 2px 2px 6px #888888; */
}

.sells-details {
	display: flex;
	flex: 5;
	justify-content: center;
	padding: 20px;
	/* border-bottom: 1px solid #ccc; */
	flex-wrap: wrap;
}
.sells {
	margin-top: 10%;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 45px;
	width: 90%;
	/* font-size: 25px; */
}

.grid-container p {
	padding-top: 25%;
	font-size: 35px;
}

.grid-container h3 {
	font-size: 25px;
}

.sells-card {
	text-align: center;
	padding: 20%;
	border: 1px solid #ccc;
	border-radius: 10px;
	flex: 1;
	background-color: #aefdfe;
	box-shadow: 2px 2px 6px #888888;
	transition: transform 0.3s, box-shadow 0.3s;
	position: relative;
}

.sells-card:hover {
	transform: scale(1.05);
	box-shadow: 8px 8px 12px #888888;
	background-color: #73faeacb;
}

.sells-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 0.3s;
}

.sells-card:hover::after {
	background-color: #01fcdfcb(119, 245, 199, 0.355);
	color: #ffffff;
}
.sales-graph {
	justify-items: center;
}

.bottom-section {
	display: flex;
	justify-content: center;
	padding: 20px;
	height: 40vh;
	align-items: center;
}
